.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.dragger {
  padding: 0 2rem;
}

.button {
  margin: 1rem;
}

.textArea {
  width: 500px;
}
